/* option.css – v1a.0.0.0 – 24/05/2025 19:45:00 – Styles complémentaires DigiRelik */
body, p, h1, h2, h3, h4, h5, h6, li, a {
  color: #00ffff;
}
.section {
  display: none;
  margin-top: 1em;
}
.section.active {
  display: block;
}
.section p {
  border: 1px solid #00ffff;
  border-radius: 2px;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #0a0a0a;
}
